services:

  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: AdminAdmin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - inner-services

  healthcheck-service:
    build:
      context: HealthcheckService/.
    container_name: healthcheck-service
    ports:
      - '8081'
    restart: always
    depends_on:
      - postgres
    networks:
      - inner-services

  currency-service:
    build:
      context: CurrencyService/.
    container_name: currency-service
    ports:
      - "8084"
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/currency-db
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=AdminAdmin
      - SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
    depends_on:
      - postgres
    networks:
      - inner-services

  user-service:
    build:
      context: UserService/.
    container_name: user-service
    ports:
      - "8082"
    restart: always
    environment:
      - CURRENCY_SERVICE_URL=http://currency-service:8084
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user-db
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=AdminAdmin
      - SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
    depends_on:
      - postgres
    networks:
      - inner-services

  expense-service:
    build:
      context: ExpenseService/.
    container_name: expense-service
    ports:
      - "8083"
    environment:
      - USER_SERVICE_URL=http://user-service:8082
      - CURRENCY_SERVICE_URL=http://currency-service:8084
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/expense-db
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=AdminAdmin
      - SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
    depends_on:
      - postgres
    networks:
      - inner-services

  api-gateway-service:
    build:
      context: ApiGatewayService/.
    container_name: api-gateway-service
    ports:
      - "8080:8080"
    environment:
      - HEALTHCHECK_URL=http://healthcheck-service:8081
      - USER_URL=http://user-service:8082
      - EXPENSE_URL=http://expense-service:8083
      - CURRENCY_URL=http://currency-service:8084
    depends_on:
      - user-service
      - expense-service
      - healthcheck-service
      - currency-service
    networks:
      - inner-services

volumes:
  postgres-data:

networks:
  inner-services:
    driver: bridge