spring:
  application:
    name: UserService

  docker:
    compose:
      enabled: false

  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://host.docker.internal:5432/user_db}
    username: ${USER_DB_USERNAME:postgres}
    password: ${USER_DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8082

currency-service:
  url: http://localhost:8084