spring:
  application:
    name: ExpenseService

  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

user-service:
  url: http://localhost:8082

currency-service:
  url: http://localhost:8085